<!doctype html>
<html>
  <head>
    <title>Welcome to <%appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Placeholder text</h1>

    <!--link section-->
    <p><a href="">Placeholder link</a></p>

  </body>
</html>