<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to <%= appName%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="./">Home</a>
				<a href="list">Topic List</a>
				<a href="search">Search</a>
				<div class="account">
					<a href="login">Log in</a>
				</div>
			</nav>
		</header>
		<main>
			<main>
				<div class="main">
					<!--todo make list page-->
				</div>
			</main>
		</main>
	</body>
</html>
