<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to <%=appName%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="./">Home</a>
				<a href="list">Topic List</a>
				<a href="search">Search</a>
				<div class="account">
					<a href="login">Log in</a>
				</div>
			</nav>
		</header>
		<main>
			<!--todo more styling-->
			<div class="main" id="login">
				<form method="POST" action="/">
					<p>Username: <input id="username" type="text" name="first" value="" /></p>
					<p>Password: <input id="password" type="password" name="password" value="" /></p>
					<input type="submit" value="Login" />
				  </form>
			</div>
		</main>
	</body>
</html>
