<!doctype html>
<html>
  <head>
    <title>Welcome to <%appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="flex-container" id="logo">
  
        </div>
        <div class="flex-container" id="hamburger">
          
        </div>
        <div class="flex-container" id="search_Bar">
          
        </div>
        <div class="flex-container" id="account">
          
        </div>
      </nav>
    </header>
    <main>
      <div id="top_Topics">
        <div class="flex-container" id="post_1">

        </div>
        <div class="flex-container" id="post_2">
          
        </div>
        <div class="flex-container" id="post_3">
          
        </div>
      </div>
    </main>
    
    <h1>Placeholder text</h1>

    <!--link section-->
    <p><a href="">Placeholder link</a></p>

  </body>
</html>