<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to <%=appName%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<nav class="topnav">
				<a class="active" href="./"><%=appName%></a>
				<a href="list">Lists</a>
				<a href="search">Search</a>
				<a href="about">About</a>
				<!--if no user, show login-->
				<% if(user == null){ %>
					<div class="account" id="login">
						<a href="login">Log in</a>
					</div>
				<!--if user exists, show logout-->
				<% } else { %>
					<div class="account" id="logout">
						<a href="logout">Logout</a>
					</div>
				<% } %>
			</nav>
		</header>
		<main>
			<div class="main">
				<!--todo make search page-->
			</div>
		</main>
	</body>
</html>
