
/* top nav styling */
.topnav {
    background-color: rgb(73, 73, 73);
    overflow: hidden;
    border: 5px solid black;
}

.topnav a {
    float:left;
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: whitesmoke;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

.topnav a.active {
    background-color: rgba(41, 128, 41, 0.517);
    color: whitesmoke;
}

.topnav div.account {
    float: right;

}

.main {
    background-color: lightgray;
    border: 5px solid black;                             
    padding: 5px;
    border-radius: 0px 0px 10px 10px;
}

/* post styling */
div.f_post {
    background-color: rgb(181, 179, 179);
    border: 5px solid black;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.f_post:hover {
    background-color: rgb(150,150,150);
    box-shadow: 3px 3px 10px black;
}

a, p, h1, .f_post{
    text-decoration: none;
    color: inherit;
}

h1.post_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
} 

p.author {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

/*username link */
a.username:hover {
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    color: blue;
}

/*content within post*/
p.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
}

/* main post div on a post specific page */
div.selected-post {
    background-color: rgb(138, 150, 136);
    border: 5px solid black;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    border-radius: 10px;
}

/*comment replying to post*/
div.base-comment {
    background-color: rgb(195, 195, 195);
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;

}

/*comment replying to comment*/
div.reply {
    background-color: rgb(225, 221, 221);
    border: 5px solid black;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;
}


