/* top nav styling */
.topnav {
	background-color: rgb(73, 73, 73);
	overflow: hidden;
	border: 5px solid black;
}

.topnav a {
	float: left;
	text-align: center;
	padding: 10px 10px;
	font-size: 25px;
	text-decoration: none;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: whitesmoke;
}

.topnav a:hover {
	background-color: whitesmoke;
	color: black;
}

.topnav a.active {
	background-color: rgba(41, 128, 41, 0.517);
	color: whitesmoke;
}

.topnav a.active:hover {
	background-color: rgba(27, 83, 27, 0.517);
	color: whitesmoke;
}

.topnav div.account {
	float: right;
}

/*main div styling*/
.main {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: lightgray;
	border: 5px solid black;
	padding: 5px;
	border-radius: 0px 0px 10px 10px;
}

/* post styling */
div.f_post {
	background-color: rgb(181, 179, 179);
	border: 5px solid black;
	padding: 5px;
	margin: 10px;
	border-radius: 10px;
}

.f_post:hover {
	background-color: rgb(150, 150, 150);
	box-shadow: 3px 3px 10px black;
}

a,
p,
h1,
.f_post {
	text-decoration: none;
	color: inherit;
}

h1.post_title {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
	font-size: 22px;
	padding: 0px;
	margin: 0px;
}

/*used to author names*/
p.author {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

/*username link */
a.username:hover {
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
	color: rgb(50, 100, 21);
}

/*used for more details related sub headings*/
a.topic-sub-heading:hover {
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
	color: rgb(50, 100, 21);
}

a.post-heading:hover {
	text-shadow: 0px 0px 2px rgb(2, 33, 9);
	color: rgb(50, 100, 21);
}

/*post info and details*/
p.post-info {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-style: italic;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

/*content within post*/
p.content {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-style: normal;
	font-size: 14px;
	border: 1px dotted black;
	border-radius: 20px;
	padding: 5px;
}

/* main post div on a post specific page */
div.selected-post {
	background-color: rgb(138, 150, 136);
	border: 5px solid black;
	padding: 5px;
	margin: 0px 0px 10px 0px;
	border-radius: 10px;
}

/*comment replying to post*/
div.base-comment {
	background-color: rgb(195, 195, 195);
	border: 5px solid black;
	padding: 5px;
	margin: 2px;
	border-radius: 10px;
}

/*comment replying to comment*/
div.reply {
	background-color: rgb(225, 221, 221);
	border: 5px solid black;
	padding: 5px;
	margin: 2px;
    margin-left: 20px;
	border-radius: 10px;
}

/* about page stat block div */
div.stat-block {
	border: 1px solid black;
	padding: 5px;
}

/*quoted text of a reply to comment*/
p.quote {
	background-color: grey;
	border: 2px solid darkgray;
	font-style: italic;
    margin: 0px;
}

/*new post content input box*/
#new-post-content {
	width: 300px;
	height: 100px;
	margin: 2px;
}

/*new post div styling */
#add-post-div {
	border: 2px dotted black;
	margin: 25px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}

/*stat heading on about page*/
p.stat-heading {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

/*new comment input box*/
#new-comment-content {
	width: 300px;
	height: 100px;
	margin: 2px;
}

/*div for making new comment*/
#add-comment-div {
	border: 2px dotted black;
	margin: 25px;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}

/*counts on topic page*/
.count {
    float: right;
}
